language: node_js
node_js:
- '4'
- stable

notifications:
  email: false
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/54f8a1e753f859f5ca1a
    on_start: never
    on_failure: change

deploy:
  provider: npm
  email: hello@trailsjs.io
  api_key:
    secure: WkhzzYAdsW/X8xpeqbggJ31IQ+MQEhPcnWi/ESeBTSAxIBi0WF5HnoRy2yQVn/aVE0+u0cPiJluMhr70y1Bja3lQB0EsJdPwpVDzSc5FBvNMlqQFvjuye6RB6PXFvysZPaojNdHgJUyWxtRWXeiK7Wkll4ZIa6ASWpYHHk4Sg+4/f1FPf1uuJZ7LKLIY07jq7DpCLFqvvLbdR7UEcxyKFeaZjKj8PAtCIUAIqqwoJCc6BwbPYyKMh09Els+hbl23gz390AatsIQJM0x8KPCjU5fW7ksHNicFg0YzL59taqafamPJM4wJjMAZj7eaiPMdiM3iNHw+x8bQNSuTdSx4XYry1Wugxb/TympTRVoklt73g8wP+eAwljwJcW+DuUjWgGQ9N/X/F9x1jcPLM3ey5NMsTXg+e2mMJrd1v3F20toXFLwR1GhRt2mq2ChqoiPgHxTihEJSimjqJzP3HGstFXejOqd4ZURxWl51hFFvmzp+HrZByEqBrWfjZrKSqYvgp83l+hNK/DVuenVx5gxUN0+aZpjnoYHnSw+M8WcTY9PB4wy4LqVCjsMLdd9AyPPSL0sQCaeP9+HdWj53wZDlS7HmLyVs8CsLbZ82ltXxcAP4BWY9+w7QbZgTevuv5xriqBwU+9kodq256/bsnzhAzpo3t2B5TjjDRH3u2VfqZwo=
  on:
    tags: true
    repo: trailsjs/trailpack-waterline
    node: stable
